:root {
  --main-bg-color: #eaeaea;
  --secondary-bg-color: whitesmoke;

  --first-item-bg-color: #c32055;
  --second-item-bg-color: #d99f24;
  --third-item-bg-color: #274d98;
  --fours-item-bg-color: #448b00;

  --main-color: #424344;
  --secondary-color: whitesmoke;

  --text-th-color: #559a9c;
}
