.dashboard {
  @include main-page;
  &__title {
    @include title;
    padding-bottom: 66px;
    @media screen and(max-width:800px) {
      margin-left: 60px;
    }
  }
}
.statistics {
  padding-bottom: 60px;
  width: 100%;
  @media screen and(max-width:1000px) {
    flex-direction: column;
    padding-bottom: 30px;
  }
  > div {
    width: 50%;
    @media screen and(max-width:1000px) {
      width: 100%;
      padding-bottom: 30px;
    }
    @media screen and(max-width:500px) {
      flex-direction: column;
      padding-bottom: 0;
    }
  }
  &__item {
    background-color: var(--secondary-bg-color);
    width: 50%;
    padding: 18px 12px;
    height: auto;
    box-shadow: 4px 4px rgb(202, 202, 202);
    @media screen and(max-width:500px) {
      width: 100%;
      margin-bottom: 30px;
    }
    > div {
      position: relative;
      color: var(--main-color);
    }
    &_icon {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--fours-item-bg-color);
      box-shadow: 2px 2px rgb(202, 202, 202);
      &.orange {
        background-color: var(--second-item-bg-color);
      }
      &.blue {
        background-color: var(--third-item-bg-color);
      }
      &.pink {
        background-color: #c32055;
      }
      svg {
        width: 32px;
        height: 32px;
      }
    }
    &_name {
      font-size: 11px;
      margin-bottom: 6px;
    }
    &_number {
      font-size: 20px;
    }
    hr {
      height: 2px;
    }
    a {
      text-decoration: none;
      color: var(--main-color);
      img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
      p {
        font-size: 10px;
        line-height: 1.3;
      }
    }
  }
}
.graphics {
  padding-bottom: 60px;
  @media screen and(max-width:650px) {
    flex-direction: column;
  }
  > div {
    display: block;
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    width: 34%;
    padding: 18px 12px;
    height: auto;
    box-shadow: 4px 4px rgb(202, 202, 202);
    @media screen and(max-width:650px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__item {
    position: relative;
    color: var(--main-color);
    &_icon {
      position: absolute;
      width: 100%;
      height: 130px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--fours-item-bg-color);
      box-shadow: 2px 2px rgb(202, 202, 202);
      @media screen and(max-width:650px) {
        height: 180px;
      }
      &.orange {
        background-color: var(--second-item-bg-color);
      }
      &.blue {
        background-color: var(--third-item-bg-color);
      }
      &_img {
        width: 86% !important;
        height: 80% !important;
      }
    }
    &_name {
      padding-top: 120px;
      font-size: 16px;
      margin-bottom: 6px;
      @media screen and(max-width:650px) {
        padding-top: 170px;
      }
    }
    &_description {
      font-size: 12px;
    }
    hr {
      height: 2px;
    }
    div {
      img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
      p {
        font-size: 10px;
        line-height: 1.3;
      }
    }
  }
}
.tasks {
  padding-bottom: 60px;
  @media screen and(max-width:1000px) {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  > div {
    display: block;
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    width: 50%;
    padding: 18px 12px;
    height: auto;
    box-shadow: 4px 4px rgb(202, 202, 202);
    @media screen and(max-width:1000px) {
      width: 100%;
      gap: 0;
      margin-bottom: 30px;
    }
  }
  &__item {
    position: relative;
    color: var(--main-color);
    &_icon {
      position: absolute;
      width: 100%;
      padding: 12px;
      top: -30px;
      display: flex;
      align-items: center;
      color: whitesmoke;
      box-shadow: 2px 2px rgb(202, 202, 202);
      &.orange {
        background-color: var(--second-item-bg-color);
        h3 {
          padding: 12px 12px 12px 8px;
          font-size: 12px;
          @media screen and(max-width:360px) {
            padding: 10px 8px 10px 6px;
          }
        }
      }
      &.blue {
        background-color: var(--third-item-bg-color);
        flex-direction: column;
        align-items: start;
        h2 {
          margin-bottom: 8px;
        }
        h3 {
          font-size: 12px;
        }
      }
      .item {
        padding-left: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active {
          background-color: #ddad49;
        }
        svg {
          max-width: 14px;
          max-height: 14px;
        }
      }
    }
    .content__tabs,
    .tasks__employees {
      padding-top: 50px;
      .tg {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        color: var(--main-color);
        img {
          width: 16px;
          height: 16px;
        }
      }
      .tg td {
        font-size: 12px;
        line-height: 1.2;
        overflow: hidden;
        padding: 6px;
        word-break: normal;
        text-align: left;
        vertical-align: middle;
        width: fit-content;
      }
      .tg th {
        font-size: 12px;
        line-height: 1.2;
        color: var(--text-th-color);
        overflow: hidden;
        padding: 18px 6px 6px 6px;
        word-break: normal;
        text-align: left;
        vertical-align: middle;
        width: fit-content;
      }
      .tg .tg-wo29 {
        border-bottom: 1px solid #c0c0c0;
      }
      input,
      label {
        cursor: pointer;
      }
      input:checked + label {
        text-decoration: line-through;
      }
    }
    hr {
      height: 2px;
    }
    div {
      img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
      p {
        font-size: 10px;
        line-height: 1.3;
      }
    }
  }
}
