.notifications {
  display: none;
  padding-bottom: 50px;
  @include main-page;
  &__title {
    @include title;
    padding-bottom: 50px;
    @media screen and(max-width:800px) {
      margin-left: 60px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
