.support {
  display: none;
  @include main-page;
  padding-bottom: 50px;
  &__title {
    @include title;
    padding-bottom: 66px;
    @media screen and(max-width:800px) {
      margin-left: 60px;
    }
  }
  img{
    width: 80%;
    height: auto;
    border-radius: 12px;
  }
}
