<footer class="footer">
    <hr>
    <div class="d-flex justify-content-between mx-2 mx-sm-5 pb-4">
    <nav class="footer__nav">
      <ul>
        <li>
          <a href="#about">
           <h2>ABOUT</h2>
          </a>
        </li>
        <li>
          <a href="#blog">
            <h2>BLOG</h2>
          </a>
        </li>
        <li>
          <a href="#licenses">
            <h2>LICENSES</h2>
          </a>
        </li>         
      </ul>
    </nav>
    <p>2019 - made with love</p>
  </div>
</footer>


