<sidebar class="sidebar">
    <h1 class="sidebar__title">Company</h1>
    <hr />
    <nav class="sidebar__nav">
      <ul>
        <li>
          <a class="active" data-tabs="1">
            <svg>
              <use href="#dashboard"></use>
            </svg>
            <h5>Dashboard</h5>
          </a>
        </li>
        <li>
          <a href="#" data-tabs="2">
            <svg>
              <use href="#profile"></use>
            </svg>
            <h5>User profile</h5>
          </a>
        </li>
        <li>
          <a href="#" data-tabs="3">
            <svg>
              <use href="#maps"></use>
            </svg>
            <h5>Maps</h5>
          </a>
        </li>
        <li>
          <a href="#" data-tabs="4">
            <svg>
              <use href="#notifications"></use>
            </svg>
            <h5>Notifications</h5>
          </a>
        </li>
        <li>
          <a href="#" data-tabs="5">
            <svg>
              <use href="#support"></use>
            </svg>
            <h5>Support</h5>
          </a>
        </li>
      </ul>
    </nav>
  </sidebar>