.header {
  display: none;
  @media screen and(max-width: 800px) {
    display: block;
    position: absolute;
    top: 28px;
    left: 2%;
    z-index: 2;
    transition: 2s;
    &.lock {
      overflow: hidden;
    }
  }
  &__burger {
    width: 40px;
    height: 30px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    span {
      border: 1px solid #424344;
      height: 4px;
      background-color: #424344;
      width: 100%;
    }
    &.active {
      position: fixed;
      transition: 0.8s;
      :first-child {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
        position: absolute;
        width: 80%;
        transition: 0.8s;
      }
      :last-child {
        transform: rotate(-45deg);
        bottom: calc(50% - 2px);
        position: absolute;
        width: 80%;
        transition: 0.8s;
      }
      :nth-child(2) {
        display: none;
        transition: 0.8s;
      }
    }
  }
}
