.profile {
  display: none;
  margin-left: 20%;
  background-color: #eaeaea;
  padding-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 60px;
  @media screen and(max-width:800px) {
    margin-left: 0;
    position: relative;
  }
  &__title {
    padding-bottom: 66px;
    font-size: 22px;
    font-weight: 800;
    color: #424344;
  }
  .form {
    &__item {
      color: #424344;
      display: block;
      text-decoration: none;
      background-color: whitesmoke;
      padding: 18px;
      height: auto;
      box-shadow: 4px 4px rgb(202, 202, 202);

      @media screen and(max-width:1000px) {
        margin-bottom: 30px;
      }
      &_icon {
        transform: translateY(-40px);
        width: 100%;
        padding: 18px;
        color: whitesmoke;
        background-color: #c32055;
        box-shadow: 2px 2px rgb(202, 202, 202);
       
        h2 {
          margin-bottom: 8px;
        }
        h3 {
          font-size: 12px;
        }
      }
      &_data {
        transform: translateY(-20px);
      
        label {
          color: #424344;
          font-size: 10px;
        }
        input,
        textarea {
          border: none;
          border-bottom: 2px solid #c8c9ca;
          background-color: transparent;
          width: 100% !important;
        
        }
        button{
          cursor: pointer;
          padding: 8px 40px;
          background-color: #c32055;
          color: whitesmoke;
          text-transform: uppercase;
          border: none;
          font-size: 14px;
          font-weight: 500;
          float: right;
          transform: translateY(16px);
        }
      }
    }
    &__ceo {
      color: #424344;
      display: block;
      text-decoration: none;
      background-color: whitesmoke;
      padding: 18px;
      height: auto;
      box-shadow: 3px 5px rgb(202, 202, 202);
      margin-left: 12px;
      text-align: center;
      height: 60%;

      img {
        border-radius: 50%;
        transform: translateY(-40px);
        max-width: 40%;
        box-shadow: 4px 6px 12px #888888;
      }
      h4 {
        transform: translateY(-30px);
        font-size: 10px;
      }
      h3 {
        transform: translateY(-20px);
        font-size: 14px;
        font-weight: 900;
      }
      p {
        line-height: 1.4;
        transform: translateY(-10px);
        font-size: 12px;
      }
    }
  }
}
